<li class="button-input__context-menu__item  element__create_lead " id="button_create_lead">
    <div class="button-input__context-menu__item__inner">
        <span class="button-input__context-menu__item__icon icon-create_lead"></span>
        <span class="button-input__context-menu__item__text ">{{ i18n('widget.button') }}</span>
    </div>
</li>
